@charset "utf-8";

/* ========== 공통 ========== */
html, body {
	font-size: 16px;
	font-family:"Times New Roman";
	color: #393939;
	background: #efefef;
}
body, div, p, h1, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
}
p, td, th, li {
	line-height: 1.8;
}
img {
	width: 100%;
	height: auto;
}
	
a {
	text-decoration: none;
}
.container {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1000px;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
/*  제목 */
main h1 {
	margin-bottom: 1rem;
	border-bottom: 1px dashed #c94040;
	font-weight: normal;
	font-size: 1.6rem;
}



/* ========== 헤더 ========== */



	
header {
	background: #f39800;
}

	.header-lo {
		list-style-type: none;
		text-align: right;
	}
	.header-lo li {
		display: inline;
		padding: 0 1rem 0 0;

	}
	.header-lo a {
		color: darkslategray;
		text-decoration: none;
	}

	.header-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.header-logo {
		width: 200px;
		height: 68px;
		padding: 10px 0;
	}
	

/* ========== 내비게이션 ========== */
nav {
	background: #394939;
}
	.navbar {
		display: none;
		list-style-type: none;
	}
	.navbar a {
		display: block;
		padding: 1rem ;
		color: #fff;
		text-decoration: none;
	}


	.navbar {
		display: flex;
	}
	.navbar li {
		flex: auto;
		text-align: center;
	}

/*메인소개 */
	.home-mainc {
		text-align: center;
		font-size: 1.4rem;
		margin-bottom:50px;
	}
	.home-mainc strong {
		color: #c84040;
	}


	.home-mainc {
		font-size: 2.4rem;
	}



/* ========== 메인  ========== */
main {
	background: #fefef;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

/* 항목 소개 */
.home-course {
	display: flex;
	flex-flow: column;
}
.home-course li {
	flex: 1 1 auto;
	margin: 0 2px 4px 2px;
	border: solid 5px #fff;
	list-style-type: none;
	background: #fff;
}

.home-course {
		flex-flow: row;
	}

.home-course a {
	color: #393939;
	text-decoration: none;
}
.home-course figure:hover {
	opacity: 0.5;
}
.home-course figcaption {
	padding: 15px 0;
	font-size: 0.9rem;
	font-weight: bold;
	text-align: center;
}


/* 공지사항*/
.home-h2 {


	border-bottom: 1px dashed #c84040;
	font-size: 2rem;

}
.gongjee {
	padding: 50px;
	border-radius: 10px;
	background: #fff;
}




/* ========== 푸터 ========== */
footer {
	background: #c84040;
	font-size: 0.9rem;
	color: #fff;
}
.footer-container {
	padding-top: 90px;
	padding-bottom: 20px;
	text-align:center;
	color: #fff;
	text-decoration: none;
}

/* ========== 매물확인 ========== */

.map {

	margin-bottom:50px;
}

/* ==========  견적신청 ========== */
.contact {
	padding: 20px;
	background: #fff;
	border-radius: 10px;
}
.contact p {
	margin-bottom: 1em;
}

input,
textarea {
	width: 100%;
}
textarea {
	height: 200px;
	border: 1px solid #ccc;
}


	input,
	input {
		width: 50%;
	}

/* 신청 버튼 */
input[type="submit"] {
	width: 300px;
	padding: 8px 0;
	background-color: #709a00;
	border: none;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
}

/* ========== 인터넷커리큘럼 ========== */


/*  개요 */
.course-container {
	display: flex;
	flex-flow: column;
}

	.course-container {
		flex-flow: row;
	}
	.course-image {
		flex: 1 1 400px;    
		margin-right: 20px;
	}
	.course-text {
		flex: 1 1 580px;
	}

.course-image img {
	border-radius: 10px;
}
.course-h2 {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}
.course-spec {
	list-style-type: none;
}
.course-label {
	display: inline-block;
	padding: 0.1rem 0.5rem;
	margin-right: 0.1rem;
	border-radius: 3px;
	background: #c84040;
	font-size: 0.7rem;
	color: #fff;
}

/*  설명 */
.course-h3 {
	margin: 30px 0 10px 0;
	color: #c84040;
	border-bottom: 1px dashed #c84040;
	font-size: 1.3rem;
}
.course-description {
	margin-top: 30px;
	padding: 30px;
	background: #fff;
	background-size: 50px 50px;
	border-radius: 10px;
}

/* 스케줄  */
.course-schedule {
	border-collapse: collapse;
}
.course-schedule td, .course-schedule th {
	padding: 0.5em 1em;
	border-bottom: 1px dotted #aeaeae;
}

/*  프로필 */
.course-instructor {
	overflow: hidden;
}
.course-instructor img {
	float: left;
	margin-right: 20px;
	border-radius: 50%;
	width: 20%;
}
.course-instructor-name {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem 0 0.5rem 0;
}

/* 버튼 */
.course-button {
	display: block;
	width: 300px;
	margin: 30px auto;
	padding: 1rem 0;
	background-color: #709a00;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
}


/* ========== 문의 ========== */
.q-and-a {
	margin-top: 1em;
	padding: 20px 20px 20px 20px;
}
.question {
	font-weight: bold;
	color: #6eba44;

}
.answer {
	margin-bottom: 2em;
	background:white;
	background-size: 40px 40px;
}
